<!DOCTYPE html>
<html>
<head>
  <title>Order Successful</title>
</head>
<body>
  <h1><%= message %></h1>
  <p>Your order has been placed successfully!</p>
  <p>Order IDs: <%= orderIds.join(", ") %></p>
  <img src="/images/thank-you-illustration.png" alt="Thank You Illustration" style="max-width: 300px;">
  <div>
    <a href="/orders/details?orderId=<%= orderIds[0] %>"><button>View Order Details</button></a>
    <a href="/products"><button>Continue Shopping</button></a>
  </div>
</body>
</html>